/* #region Base */
body {
  font-family: Roboto;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}
/* #endregion */

/* #region Header*/
.logo {
  color: #4d5ae5;
  font-family: Raleway;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  text-transform: uppercase;
}
.dark {
  color: #2e2f42;
}
.light {
  color: #f4f4fd;
}
.header-logo {
  margin-right: 76px;
}
.footer-logo {
  margin-bottom: 16px;
}
/* #endregion */

/* #region Hero Section */
.hero {
}
.hero-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2px;
}
.hero-btn {
  font-family: Roboto;
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
}
/* #endregion */

/* #region Features Section */
.features {
}
.features-list {
}
.features-item {
}
.features-subtitle {
}
.features-text {
}
/* #endregion */

/* #region Our Team */
.team {
}
.team-title {
}
.team-list {
}
.user-link {
}
.user-img {
}
.user {
}
.user-text {
}
/* #endregion */

/* #region Portfolio */
.portfolio {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-img {
}
.portfolio-subtitle {
}
.portfolio-text {
}
/* #endregion */

/* #region Footer */
/* #endregion */
